---
---

@import "_pygments.scss";
@import "_webfonts.scss";

.container-fluid {
  max-width: 1200px;
}

body {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 70px;
  padding-top: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.sidebar {
  .nav-header {
    margin-left: 15px;
    margin-top: 25px;
  }
}

.docbody {
  h1:first-child {
    margin-top: 0;
  }

  h2 {
    border-top: 1px solid #e7e7e7;
    margin-top: 30px;
    padding-top: 25px;
  }

  pre {
    max-height: 300px;

    code {
      font-family: "Fira Mono", monospace, monospace;
      overflow: auto;
      white-space: pre;
      word-wrap: normal;
    }
  }
}
